
/* ------------------------------
   GLOBAL SETTINGS
--------------------------------*/
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box;  PRFFECTS SIZE OF CARD BOTTON  ANY THING */
  box-sizing: border-box;
  /* font-family: Poppins, Arial, sans-serif;  User interface   ka look clean, modern aur consistent lage */
  font-family: Poppins, Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* ------------------------------
   SCREEN CONTAINERS
--------------------------------*/
.start-screen,
.level-screen,
.game-screen {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 30px;
  width: 380px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 6px 35px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.hidden {
  display: none;
}


   /* HEADINGS  */
h1, h2 {
  margin-bottom: 20px;
  font-weight: 600;
}

/* ------------------------------
   BUTTONS
--------------------------------*/
button {
  padding: 10px 18px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  background: #00b4d8;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.25s;
}

button:hover {
  background: #0096c7;
  transform: translateY(-3px);
}

.level {
  background: #48cae4;
}

.level:hover {
  background: #0096c7;
}

/* ------------------------------
   INFO PANEL
--------------------------------*/
.info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 14px;
}

/* ------------------------------
   BOARD (CARD GRID)
--------------------------------*/
.board {
  margin-top: 20px;
  display: grid;
  gap: 12px;
  justify-content: center;
}

/* ------------------------------
   CARD DESIGN + 3D FLIP EFFECT
--------------------------------*/
.card {
  width: 80px;
  height: 80px;
  perspective: 1000px;
  cursor: pointer;
}

.card .inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;  /* 3-d effects */
  position: relative;
}

.card.flipped .inner {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FRONT SIDE  */
.front {
  background: #4CAF50;
  color: white;
}

/* BACK SIDE  */
.back {
  background: #FFA559;
  transform: rotateY(180deg);
  color: #000;
}

/* ------------------------------
   MESSAGES (WIN, TIME OVER)
--------------------------------*/
.message {
  margin-top: 15px;
  padding: 10px;
  background: #d4edda;
  color: #155724;
  border-radius: 10px;
  display: block;
  font-weight: 600;
}
